
@{
    ViewBag.Title = "HdBetta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    html {
        scroll-behavior: smooth;
    }
    /*=====================================
            = CSS TẠO MỤC LỤC
            =====================================*/
    #toc_container {
        margin-top: 15px;
        background: #edf6ff;
        border: 1px solid #aaa;
        padding: 0 10px;
        margin-bottom: 1em;
        font-size: 95%;
        width: 450px;
    }

    p.toc_title,
    ul.toc_list {
        margin: 5px;
        padding-left: 0;
    }

    .toc_list li {
        list-style: none;
        margin-top: 0px;
        margin: 0 !important;
    }

    #toc_container a {
        text-decoration: none;
        text-shadow: none;
        color: #52b043;
        font-weight: 555;
    }

        #toc_container a:hover {
            color: #d7c20d;
            text-decoration: underline;
        }

    span.accordion {
        cursor: pointer;
    }

    div.panel {
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }

        div.panel.show {
            opacity: 1;
            max-height: 500px;
        }
</style>

<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 id="title" class="section-title px-5"><span class="px-2" style="color:forestgreen;">BETTA</span></h2>
    </div>
    <div class="row px-xl-5 pb-5">

        <div class="content_thongtin" style="display: flex; flex-direction: column; align-items: center;">
            <p class="intro" style="text-indent: 30px; margin: 7px; text-align: justify;">
                Việc tìm kiếm giống betta đẹp và hiếm luôn là niềm đam mê lành mạnh của nhiều người. Không phải tự nhiên mà cá betta được yêu thích mạnh mẽ như hiện tại.
                Nếu bạn cũng đang tìm hiểu về loài cá này thì hãy xem ngay các thông tin về các giống cá betta này nhé. Việc hiểu biết sẽ giúp bạn rất nhiều trong vấn đề chọn được giống cá đẹp nhất.
            </p>
            <img style="width:650px; height:450px;" src="~/img/betta_double.jpg" alt="">
            <br>
            <div id="toc_container">
                <b>MỤC LỤC: Nội dung bài viết</b>&nbsp; <span class="accordion active">[Ẩn/Hiện]</span>
                <br />
                <div class="panel show">
                    <ul class="toc_list">
                        <li><a href="#phan-1">Phần 1: Nguồn gốc của cá Betta</a></li>
                        <li><a href="#phan-2">Phần 2: Đặc điểm của cá Betta</a></li>
                        <li><a href="#phan-3">Phần 3: Chi tiết kỹ thuật nuôi</a></li>
                        <li><a href="#phan-4">Phần 4: Những loại cá Betta đẹp hiện nay</a></li>
                        <li><a href="#phan-5">Phần 5: Betta Halfmoon</a></li>
                        <li><a href="#phan-6">Phần 6: Betta rồng</a></li>
                        <li><a href="#phan-7">Phần 7: Betta Crowntail</a></li>
                        <li><a href="#phan-8">Phần 8: Betta Thái</a></li>
                        <li><a href="#phan-9">Phần 9: Betta Doubletail</a></li>
                        <li><a href="#phan-10">Phần 10: Betta Plakat (fighter)</a></li>
                        <li><a href="#phan-11">Phần 11: Betta Dumbo</a></li>
                        <li><a href="#phan-12">Phần 12: Các loại bệnh của cá Betta thường gặp</a></li>
                    </ul>
                </div>
            </div>
            <div class="body_content" style="display: flex; flex-direction:column; align-items:center; margin: 10px 20px 10px 20px; ">
                <div class="phan1">
                    <h3 id="phan-1">Nguồn gốc của cá betta</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá Betta hay còn được biết đến với tên gọi khác như cá Xiêm, cá thia lia, có tên khoa học là Betta Splendens, thuộc họ Belontiidae.
                        Betta là dòng cá thuần chủng có nguồn gốc từ Thái Lan, Campuchia và các nước Mã Lai.
                    </p>
                </div>
                <div class="phan2">
                    <h3 id="phan-2">Đặc điểm của cá Betta</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Betta là loài cá ăn thịt, chủ yếu là những loài phiêu sinh, bọ gậy hay ấu trùng, vì thế nên thường thấy cá Betta trên đồng lúa, ao nước hay dòng nước chảy chậm.
                        Cũng chính vì vậy mà Betta rất dễ nuôi, có thể chịu được điều kiện khắc nghiệt của môi trường.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-betta.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Betta là dòng cá cảnh nhỏ với màu sắc sặc sỡ, thường có kích thước khi trưởng thành từ 6 – 8cm và có thể sống được từ 7 – 10 năm.
                        Cá Betta có phần đầu tương đối nhỏ, hàm dưới dài hơn hàm trên, mắt hơi lồi.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Phần thân cá nhỏ, lưng hơi gù và xung quanh phần lưng đến bụng được bao phủ bởi lớp vậy óng mềm mại. Điều đặc biệt của Betta là có đuôi khá dài, đa dạng về kiểu cách và màu sắc.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Một đặc điểm nổi bật của cá Betta so với những dòng cá cảnh khác là có thêm một cơ quan hô hấp đặc biệt là labyrinth, cơ quan hô hấp này giúp cho cá có thể hít không khí trực tiếp từ mặt nước.
                        Giúp cá tồn tại ngay cả ở trong môi trường sống chật hẹp và oxy thấp.
                    </p>
                    <img style="width: 650px; height: 450px; margin-left: 17%;" src="~/img/r_img1.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá cảnh Betta sinh sản theo hình thức đẻ trứng hoặc giao phối (ép hoặc quấn lấy cá cái), mỗi lần ép sẽ sinh sản được từ 10 – 40 trứng.
                        Và sau khoảng từ 30 – 40 ngày thì trứng sẽ nở và cá đực chăm sóc cá con sau khoảng 2 ngày thì tách con.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Betta là dòng cá có tình rất hung dữ, ở môi trường tự nhiên chúng thường xuyên đánh đuổi đồng loại đi nơi khác, chúng thường hăm dọa đối phương bằng cách xòe đuôi của mình.
                    </p>
                </div>
                <div class="phan3">
                    <h3 id="phan-3">Chi tiết kỹ thuật nuôi</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Mặc dù là loại cá có thể sinh trưởng trong môi trường chật hẹp hoặc khắc nghiệt của tự nhiên nhưng để có được một bể cá Betta đẹp thì bạn cần lưu ý những điều dưới đây:
                    </p>
                    <h4>Cá Betta ăn gì?</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Trong môi trường tự nhiên, sống ở ruộng đồng, ao hồ thì thức ăn của Betta là các loại động vật giáp sát, không xương sống hoặc những loại côn trùng thủy sinh khác.
                        Chính vì thế mà khi nuôi cá Betta trong chai hoặc bể thì bạn có thể tạo nên môi trường gần giống với môi trường sống tự nhiên của chúng.
                    </p>
                    <img style="width: 650px; height: 450px; margin-left: 17%;" src="~/img/betta.jpeg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Hoặc bạn cũng có thể mua những loại thức ăn cho cá Betta: thức ăn viên, giun máu, tôm ngâm muối,… để đảm bảo quá trình sinh trưởng của cá.
                        Bên cạnh đó thì bạn chỉ nên cho cá ăn 2 lần/ngày, hạn chế bón thức ăn quá nhiều vì việc dư thừa thức ăn sẽ làm ô nhiễm nguồn nước và ảnh hưởng đến sức khỏe đàn cá.
                    </p>
                    <h4>Hồ nuôi</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Bể nuôi cá chuẩn cần đạt nhiệt độ từ 24 – 30 độ C và độ pH từ 7 – 7.5. Để đảm bảo cá có thể sinh trưởng và phát triển thì bạn nên thay nước từ 2 tuần/lần.
                        Lưu ý khi thay nước thì chỉ nên thay 2/3 lượng nước, giữ lại 1/3 lượng nước còn lại để cá không bị sốc với môi trường mới.
                    </p>
                    <img style="width: 650px; height: 450px; margin-left: 17%;" src="~/img/honuoi_betta.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Ngoài ra, tùy vào số lượng cá và diện tích bể nuôi mà bạn nên thay nước thường xuyên, hạn chế để nước bị ô nhiễm hay thiếu oxi ảnh hưởng đến sức khỏe cá.
                        Lưu ý khi thay nước thì cần phải giữ lại 30 – 50% nước cũ để cá không bị sốc do chênh lệch pH quá nhiều.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Và khi xây dựng trại cá nuôi Betta hay hồ cá thì cần lưu ý một vài điều sau đây:
                        <ul>
                            <li>Bể nên được đặt ở nơi thoáng mát, không có ánh sáng trực tiếp chiếu vào.</li>
                            <li>Vì là dòng cá có tính cách hung dữ và hiếu chiến nên bạn không nên nuôi quá nhiều cá trong cùng một bể.</li>
                            <li>Không nên đặt bể cá ở nơi tối tăm, ít thoáng khí khiến cá bị thiếu oxi, căng thẳng dễ dần đến tình trạng cắn đuôi.</li>
                        </ul>
                    </p>
                    <h4>Cách ép cá Betta tại nhà</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Ép cá được xem là một phương thức sinh sản đặc biệt của cá Betta giúp đem lại hiệu quả kinh tế và số lượng con giống cao. Để thực hiện bạn cần làm theo các bước dưới đây:
                        <img style="width: 650px; height: 450px; margin-left: 17%;" src="~/img/epcaBetta.jpg" alt="">
                        <ul>
                            <li>
                                <b>Chuẩn bị:</b> Bạn cần chuẩn bị chỗ ép cá bằng khay hoặc thau nhựa có dung tích từ 15 – 20 lít. Có thể sử dụng thêm sỏi nhỏ để tạo chỗ cho cá mái lẫn trốn sau khi ép.
                            </li>
                            <li>
                                <b>Lựa chọn cá giống và cho chúng vào hồ ép:</b> Con giống nên lựa chọn những con khỏe mạnh, có tuổi thọ từ 1 – 2 năm. Cho cá đực vào hồ trong khoảng 5 – 7 ngày,
                                khi thấy cá đực nhả bọt nhiều thì bắt đầu thả cá mái vào. Cá đực sẽ lùa và rỉa vây cá mái sau vài lần và xuất hiện trứng cá
                            </li>
                            <li>
                                <b>Vớt cá mái sau khi đẻ:</b> Cá mái sau khi dừng đẻ thì sẽ tiến hành vớt ra hồ riêng để tránh trường hợp cá mái nuốt trứng.
                            </li>
                            <li>
                                <b>Đợi trứng nở và vớt cá đực ra ngoài:</b> Khoảng từ 2 – 3 ngày thì trứng con sẽ nở, cá đực sẽ liên tục thay bong bóng bị vỡ do cá con chớm nở bám vào tổ ong.
                                Sau vài ngày khi cá con đã phát triển thì bạn nên tách cá đực khỏi đàn cá nhỏ để chúng sinh trưởng tiếp.
                            </li>
                        </ul>
                    </p>
                    <h4>Cách dưỡng cá Betta mái</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Bên cạnh việc ép cá thì để đảm bảo số lượng cá con được tạo ra thì bạn nên dưỡng cá mái để tạo điều kiện tốt. Dưới đây là cách dưỡng cá Betta mái tại nhà mà bạn có thể tham khảo:
                        <img style="width: 650px; height: 450px; margin-left: 17%;" src="~/img/betta_mai.jpg" alt="">
                        <ul>
                            <li>Không gian dưỡng: Đây là một yếu tố rất quan trọng, bạn nên dưỡng cá ở không gian càng rộng càng tốt. Có thể sử dụng chậu, bể có kích thước từ 40 x 30 (dài x rộng).</li>
                            <li>Thức ăn: Vì là loại động vật ăn thịt nên bạn nên thức ăn cho cá Betta má loăng quăng, trùn,… để đảm bảo dinh dưỡng.</li>
                            <li>
                                Cách dưỡng: Chọn cá mái giống và cho vào không gian dưỡng, mực nước nên đảm bảo từ 12 – 15cm, sau đó thì cứ cách 3 ngày lại cho vào bể dưỡng 1 cục trùn chỉ to để cá có thêm chất dinh dưỡng.
                                <br>
                                Bạn có thể thay nước cho cá khi thấy có dấu hiệu bị ô nhiễm và đợi trong khoảng 3 tuần thì cá sẽ cho rất nhiều trứng.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="phan4">
                    <h3 id="phan-4">Những loại cá Betta đẹp hiện nay</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Betta là dòng cá có hình dạng và màu sắc đa dạng, với phần đuôi rộng, uyển chuyển. Và dựa theo hình dạng, kích thước đuôi thì có những dòng cá Betta chính dưới đây:
                    </p>
                </div>
                <div class="phan5">
                    <h3 id="phan-5">Betta Halfmoon</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Halfmon là dòng Betta đẹp nhất thế giới với độ mở vây đuôi là 180°, rất khó nhân giống ngay cả khi bố mẹ là dòng thuần chủng 100%.
                        Chính vì thế mà Halfmoon là loại cá có giá trị cao nhất trong các loại.
                    </p>
                    <img style="width: 650px; height: 450px; margin-left: 17%;" src="~/img/cap-ca-betta-dep.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Trên thực tế, người ta phân loại cá Betta dựa trên độ mở vây đuôi, 90 – 120° gọi là Delta, được nhân giống vào năm 1959.
                        120 – 190° được gọi là cá Super Delta, nhân giống năm 1979 và đến năm 1987 thì nhân giống thành công Betta Halfmoon (nữa vầng trăng).
                    </p>
                </div>
                <div class="phan6">
                    <h3 id="phan-6">Betta rồng</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá Betta rồng có tên khoa học là Betta Dragon, có nguồn gốc ở khu vực Đông Nam Á. Betta rồng có nhiều màu sắc khác nhau: đỏ, trắng, vàng, xám đen,…
                        với bộ vây sặc sỡ cực đẹp. Thông thường, Betta rồng đạt chuẩn là có thân, vây và vảy đều màu, đồng nhất với nhau.
                    </p>
                    <img style="width: 650px; height: 450px; margin-left: 17%;" src="~/img/betta_dragon3.jpg" alt="">
                </div>
                <div class="phan7">
                    <h3 id="phan-7">Betta Crowntail</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Crowntail (cá Betta đuôi tưa) được phát hiện vào năm 1997 tại miền tây của Indonesia, có vây đuôi bị tưa.
                        Và Crowntail có 3 loại là Single Crowntail, Double Crowntail và Double Double Crowntail.
                    </p>
                    <img style="width: 650px; height: 450px; margin-left: 17%;" src="~/img/Betta-Crowntail.jpg" alt="">
                </div>
                <div class="phan8">
                    <h3 id="phan-8">Betta Thái</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá Betta Thái (cá Xiêm Betta) là dòng cá có nguồn gốc từ vùng Bolivia và Chi Lê, thường có màu sắc đậm nhất, chiều dài thân cá từ 5 – 8cm.
                        Cá Betta Thái có nhiều màu do lai tạo và có thể thay đổi so với các giống nguyên thủy.
                    </p>
                    <img style="width: 650px; height: 450px; margin-left: 17%;" src="~/img/betta-halfmoon-orange.jpg" alt="">
                </div>
                <div class="phan9">
                    <h3 id="phan-9">Betta Doubletail</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Doubletail được xem là một chủng loại Halfmoon có 2 phần vây đuôi riêng biệt nhau, phần này xếp chồng lên phần kia, thân mình ngắn và rắn chắc.
                        Betta Doubletail có phần vây hậu môn và lưng dài nên được nhiều người ưa chuộng.
                    </p>
                    <img style="width: 650px; height: 450px; margin-left: 17%;" src="~/img/betta-doubletail.jpg" alt="">
                </div>
                <div class="phan10">
                    <h3 id="phan-10">Betta Plakat (fighter)</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Plakat là dòng Betta phổ biến nhất hiện nay, phổ biến trên những đồng lúa tại Thái Lan cách đây hàng trăm năm.
                        Cá Betta Plakat gồm 4 loại: Channa Striata Bloch (đầu rắn thân dài), Anabas Testudineus (đầu ngắn thân mập), Chitala Ornata (thân dài miệng cong) và Plakat lai:
                    </p>
                    <img style="width: 650px; height: 450px; margin-left: 17%;" src="~/img/betta_Plakat.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>
                                Channa Striata Bloch (đầu rắn thân dài): có thân hình dài, màu sắc pha tạp giữa đỏ, xanh lá cây và xanh dương.
                                Loại cá này có tình khí hung dữ và hàm răng sắc bén.
                            </li>
                            <li>
                                Anabas Testudineus (đầu ngắn thân mập): có thân hình mập, đầu ngắn. Phần lớn có màu đơn sắc như xanh dương, xanh lá cây hoặc đỏ.
                                Phần vảy rất dày nên khí bị căn thủng. Tuy nhiên, loại cá này có lối đá chậm nên được ít người yêu thích.
                            </li>
                            <li>Chitala Ornata (thân dài miệng cong): là dòng có thân mình thon thả, cân đối và vây hậu môn dài.</li>
                            <li>Plakat lai: Đây là dòng được lai tạo từ những loài cá Betta hoang dã với các dòng kể trên.</li>
                        </ul>
                    </p>
                </div>
                <div class="phan11">
                    <h3 id="phan-11">Betta Dumbo</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Betta Dumbo hay “cá tai voi” là dòng cá Betta nổi bật với những chiếc kỳ nằm ở hai bên dùng để bơi.
                        Bên cạnh đó. phần vây và đuôi dài, mở rộng uyển chuyển với nhiều màu sắc nổi bật. Chính vì thế Betta Dumbo được rất nhiều người yêu thích.
                    </p>
                    <img style="width: 650px; height: 450px; margin-left: 17%;" src="~/img/betta-dumbo-halfmoon.jpg" alt="">
                </div>
                <div class="phan12">
                    <h3 id="phan-12">Các loại bệnh của cá Betta thường gặp</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Dù có khả năng sinh trưởng và phát triển tốt nhưng bạn cần lưu ý một số bệnh ở cá Betta dưới đây:
                    </p>
                    <h4>Cá Betta không chịu ăn</h4>
                    <img style="width: 650px; height: 450px; margin-left: 17%;" src="~/img/betta_benh.png" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Khi cá Betta nhà bạn bỏ ăn thì nguyên nhân có thể là do thay đổi thời gian ăn, thức ăn không đảm bảo,
                        cá bị căng thẳng hoặc cá bị táo bón do nhiễm ký sinh trùng. Để điều trị bệnh này thì bạn nên cho cá ăn đầy đủ, đúng giờ và xử dụng thuốc kháng sinh để bón thêm.
                    </p>
                    <h4>Cá Betta tự cắn đuôi</h4>
                    <img style="width: 650px; height: 450px; margin-left: 17%;" src="~/img/betta_benh1.png" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Nguyên nhân chủ yếu là do cá bị căng thẳng khi cách ly quá lâu hoặc đặt cá ở trong môi trường nhỏ hẹp, thiếu ánh sáng cũng khiến cho cá Betta tự cắn đuôi.
                        Để xử lý thì bạn nên lưu ý cách ly cá thì hạn chế đặt chung với nhiều loại cá khác, và giữ cho hồ cá luôn sáng dịu.
                        <br>
                        Còn nếu cá đã cắn đuôi thì bạn nên nuôi cá trong nước thật sạch, có thể thường xuyên sử dụng thuốc Melafix để vết thương của cá nhanh lành lại và phòng chống nhiễm nấm, vi khuẩn gây bệnh khác.
                    </p>
                    <h4>Cá Betta bị hở mang</h4>
                    <img style="width: 650px; height: 450px; margin-left: 17%;" src="~/img/betta_benh2.png" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá bị hở mang, lâu ngày xuất hiện các dịch trắng như mủ tại vùng hở là do các cá thể đơn bào gây ra. Nếu không có cách điều trị kịp thời thì cá có thể chết sau khoảng 5 – 7 ngày.
                        Để xử lý thì bạn nên bắt tách những con bị bệnh sau đó xử dụng kháng sinh liều cao để điều trị khỏi bệnh.
                    </p>
                    <h4>Cá Betta bị nhạt màu</h4>
                    <img style="width: 650px; height: 450px; margin-left: 17%;" src="~/img/betta_benh3.png" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Khi nuôi cá Betta lâu bạn thấy vảy cá bị nhạt màu, nguyên nhân là do việc thay nước không thường xuyên hoặc sự thay đổi thời tiết.
                        Để xử lý thì bạn nên thay nước thường xuyên, giữ nhiệt độ nước ở mức ổn định. Đồng thời, bạn nên đảm bảo nguồn thức ăn cho cá.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- #CODE ẨN/HIỆN MỤC LỤC -->
<script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        for (i = 0; i < acc.length; i++) {
            acc[i].onclick = function() {
                this.classList.toggle("active");
                this.nextElementSibling.classList.toggle("show");
            }
        }
</script>
