
@{
    ViewBag.Title = "HdCaRong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    html {
        scroll-behavior: smooth;
    }
    /*=====================================
            = CSS TẠO MỤC LỤC
            =====================================*/
    #toc_container {
        margin-top: 15px;
        background: #edf6ff;
        border: 1px solid #aaa;
        padding: 0 10px;
        margin-bottom: 1em;
        font-size: 95%;
        width: 450px;
    }

    p.toc_title,
    ul.toc_list {
        margin: 5px;
        padding-left: 0;
    }

    .toc_list li {
        list-style: none;
        margin-top: 0px;
        margin: 0 !important;
    }

    #toc_container a {
        text-decoration: none;
        text-shadow: none;
        color: #52b043;
        font-weight: 555;
    }

        #toc_container a:hover {
            color: #d7c20d;
            text-decoration: underline;
        }

    span.accordion {
        cursor: pointer;
    }

    div.panel {
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }

        div.panel.show {
            opacity: 1;
            max-height: 500px;
        }
</style>

<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 id="title" class="section-title px-5"><span class="px-2" style="color:forestgreen;">CÁ RỒNG</span></h2>
    </div>
    <div class="row px-xl-5 pb-5">

        <div class="content_thongtin" style="display: flex; flex-direction: column; align-items: center;">
            <p class="intro" style="text-indent: 30px; margin: 7px; text-align: justify;">
                Cá rồng được biết đến là loài cá nước ngọt được săn đón trên thị trường cá cảnh hiện nay. Với những ai có thú vui nuôi cá cảnh chắc chắn đều biết đến loài cá Đế Vương này.
                Thậm chí, nhiều người sẵn sàng bỏ ra số tiền cực lớn để sở hữu một con cá rồng trong hồ cá cảnh của mình.
                Liệu loài cá này có gì đặc biệt? Hãy cùng chúng tôi tìm hiểu thông tin ngay trong bài viết dưới đây.
            </p>
            <img style="width:650px; height:450px;" src="~/img/ca-rong-aquazone.jpg" alt="">
            <br>
            <div id="toc_container">
                <b>MỤC LỤC: Nội dung bài viết</b>&nbsp; <span class="accordion active">[Ẩn/Hiện]</span>
                <br />
                <div class="panel show">
                    <ul class="toc_list">
                        <li><a href="#phan-1">Phần 1: Đôi nét về cá rồng</a></li>
                        <li><a href="#phan-2">Phần 2: Tập tính của cá rồng</a></li>
                        <li><a href="#phan-3">Phần 3: 3 loại cá rồng được săn đón nhiều nhất</a></li>
                        <li><a href="#phan-4">Phần 4: Cá rồng Bạch Kim</a></li>
                        <li><a href="#phan-5">Phần 5: Cá rồng huyết</a></li>
                        <li><a href="#phan-6">Phần 6: Cá rồng vàng</a></li>
                        <li><a href="#phan-7">Phần 7: Kỹ thuật chăm sóc cá rồng</a></li>
                        <li><a href="#phan-8">Phần 8: Các loại bệnh thường gặp ở cá rồng</a></li>
                    </ul>
                </div>
            </div>
            <div class="body_content" style="display: flex; flex-direction:column; align-items:center; margin: 10px 20px 10px 20px;">
                <div class="phan1">
                    <h3 id="phan-1">Đôi nét về cá rồng</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá rồng là loài cá nước ngọt với số lượng rất hiếm. Tên khoa học là Osteoglossidae. Loài cá cảnh này hiện được liệt vào sách Đỏ của Việt Nam.
                        Đặc điểm hình thái nổi bật của loài cá này là có thân dẹt, thon dài. Mõm cá dài và có đôi râu mềm mại.
                        Trên thân cá có những vẩy to, sáng lấp lánh. Vây trên ngực, lưng và hậu môn cũng dài, có hướng thuôn về phía sau.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-rong.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Một con cá rồng Châu Á trưởng thành có thể đạt đến chiều dài từ 60cm – 90cm. Thậm chí, nhiều trường hợp có thể dài hơn 1m.
                        Trọng lượng của cá đạt khoảng 7,2kg. Theo đánh giá của các nhà khoa học, cá rồng là loài cá có tuổi thọ cao nhất trong tất cả các loài cá đang được nuôi làm cảnh hiện nay.
                    </p>
                </div>
                <div class="phan2">
                    <h3 id="phan-2">Tập tính của cá rồng</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá rồng là loài cá có đặc tính hung dữ. Trong môi trường tự nhiên, chúng thường sống theo bầy đàn với số lượng nhỏ để cùng săn mồi.
                        Tuy nhiên, cũng có những con cá thích sống và săn mồi một cách đơn độc.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-rong1.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Khi nuôi trong bể, loài cá cảnh này luôn khiến nhiều người nhầm tưởng chúng hiền lành và thân thiện.
                        Bởi cá rồng có dáng bơi nhẹ nhàng, khoan thai. Thế nhưng, khi xác định con mồi, chúng sẽ trở nên nhanh nhẹn và đáng “gờm” hơn rất nhiều.
                    </p>
                    <h4>Tập tính sinh sản của cá rồng</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Tập tính sinh sản của cá rồng rất thú vị. Chúng có phần tương đồng với loài cá ngựa. Khi cá rồng cái đẻ trứng thì nhiệm vụ ấp trứng và nuôi con sẽ thuộc về cá rồng đực.
                        Thậm chí, trong thời gian ấp trứng, cá rồng đực sẽ phải nhịn ăn. Hiện tại, các nhà khoa học vẫn chưa có nhiều thông tin về thời gian sinh sản của loài cá này.
                        Tuy nhiên, có nhiều thông tin cho rằng, trứng của cá rồng có kích thước lớn nhưng rất ít. Đây có thể là lý do khiến số cá thể của chúng trở nên quý hiếm như hiện nay.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-rong-sinh san.jpg" alt="">
                </div>
                <div class="phan3">
                    <h3 id="phan-3">3 loại cá rồng được săn đón nhiều nhất</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá rồng trên thị trường hiện nay có rất nhiều loại. Có thể kể đến như: cá 7 màu rồng, cá rồng màu đen, cá rồng xanh…
                        Tuy nhiên, nếu nói đến độ HOT thì không thể bỏ qua 3 loài cá rồng dưới đây. Chúng là những loại cá rồng mà bất cứ ai đam mê cá cảnh cũng đều mong muốn được sở hữu.
                    </p>
                </div>
                <div class="phan4">
                    <h3 id="phan-4">Cá rồng Bạch Kim</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Nếu như cá rồng được xem là vua của các loài cá cảnh trên thị trường thì Cá rồng Bạch Kim chính là vua trong loài cá rồng.
                        Mức độ quý hiếm của loài cá Bạch Long này khiến không ít người sẵn sàng chi ra số tiền “khủng” để được sở hữu loài cá này.
                        Thực ra, màu trắng trên thân cá chính là một dạng đột biến gen khiến màu da trên người chúng chuyển trắng. Nó tương tự như bệnh bạch tạng ở con người vậy.
                        Cũng chính sự thay đổi này lại trùng hợp mang đến cho loài cá rồng này vẻ đẹp cao quý, hút mắt đến khó cưỡng.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-rong-bach-long.jpg" alt="">
                </div>
                <div class="phan5">
                    <h3 id="phan-5">Cá rồng huyết</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Nếu xét về mức độ quý hiếm thì cá rồng huyết chỉ đứng sau cá Bạch Kim mà thôi. Với sắc đỏ tươi nổi bật điểm xuyết chút đen trên vảy cá đã giúp cá rồng đỏ có được vẻ đẹp ma mị,
                        đầy lôi cuốn. Tuy nhiên, loài cá rồng này chỉ khi trưởng thành mới có được sắc đỏ đẹp mắt như vậy.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-rong-huyet.jpg" alt="">
                </div>
                <div class="phan6">
                    <h3 id="phan-6">Cá rồng vàng</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá rồng vàng có lẽ là giống cá thể hiện rõ nhất thần thái của loài cá Đế Vương này. Sắc vàng óng ánh trên thân tượng trưng cho sự cao quý, cho tài lộc mà loài cá này có thể mang đến cho người nuôi.
                        Trên thị trường hiện nay, loài cá rồng màu vàng này còn được gọi với tên khác là Kim long quá bối.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-rong-kim-long.jpg" alt="">
                </div>
                <div class="phan7">
                    <h3 id="phan-7">Kỹ thuật chăm sóc cá rồng</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Dù lựa chọn mua cá rồng con giá rẻ hay sang tay lại cá rồng đã trưởng thành thì việc nắm rõ kỹ thuật nuôi. Cụ thể như:
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Nước: loài cá cảnh này rất “kén chọn” với nguồn nước sinh sống. Chúng rất nhạy cảm với nồng độ amoniac ở trong nước. Vì thế, muốn nuôi cá rồng thì bạn phải đầu tư bể lọc chất lượng.
                        Độ PH phải đảm bảo duy trì ở mức từ 6.5 – 7.5.  Nước trong bể phải sạch để đảm bảo không tạo điều kiện cho các mầm bệnh phát triển gây ảnh hưởng đến cá.
                        Ngoài ra, bể nuôi cá cũng phải dài gấp ít nhất là 3 lần so với kích thước cá để giúp chúng có không gian bơi lội được thoải mái.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/nuoi-ca-rong.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Nhiệt độ: Nhiệt độ ;lý tưởng để nuôi cá rồng là từ 28 – 32 độ C.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Thức ăn cho cá rồng: Yếu tố này sẽ ảnh hưởng trực tiếp đến việc sinh trưởng, phát triển của loài cá này. Do cá rồng là loài thích ăn thịt nên khi nuôi bạn có thể cho chúng ăn thịt sống của các loài như:
                        sâu, tôm đông lạnh, rết, giun, dế, chuột bao tử… Loài cá này ăn khá nhiều. Do đó, bạn nên đa dạng các nguồn thức ăn để cá có thể phát triển được đầy đủ mọi mặt.
                    </p>
                </div>
                <div class="phan8">
                    <h3 id="phan-8">Các loại bệnh thường gặp ở cá rồng</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Khi nuôi cá rồng, bạn cần nắm được những loại bệnh nào phổ biến đối với chúng. Hiện nay, có một số bệnh phổ biến của loài cá này mà bạn cần phải quan tâm. Đó chính là:
                    </p>
                    <h4>Bệnh xoăn mang</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Căn bệnh này thường xuất phát từ việc người nuôi thiếu chăm sóc khiến nước bị nhiễm bẩn và xuất hiện ký sinh trùng trong mang cá. Lượng amoniac và nitrat trong nước tăng cao làm oxi giảm khiến cá trở nên khó thở hơn.
                        Mang cá vì thế mà cũng bị viêm và phình to ra. Khi phát hiện mang cá bị kênh ra, cá khó thở và trở nên kém ăn thì cần phải kiểm tra sớm để tránh ảnh hưởng đến sức khỏe của cá.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-rong-xoan-mang.jpg" alt="">
                    <h4>Bệnh xù vảy ở cá rồng</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Thường thì khi nuôi cá rồng nhỏ hay cá có sức khỏe yếu sẽ dễ gặp phải căn bệnh này. Bệnh vảy xù thường xuất hiện nhiều vào mùa thu và mùa đông.
                        Dấu hiệu của bệnh chính là phần vảy bị kênh lên, nhiều nhất là ở lưng. Cá thường có tình trạng oằn mình và bỏ ăn. Lý do khiến cá bị bệnh này thường là do môi trường sống quá ít oxy và nước trong bể quá bẩn.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-rong-xu-vay.jpg" alt="">
                    <h4>Bệnh đốm trắng</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá rồng khi mắc bệnh đốm trắng sẽ ảnh hưởng đến sức khỏe và thẩm mỹ của cá. Những đốm xuất hiện trên vây thường là do môi trường sống không đảm bảo chất lượng.
                        Việc thay nước thường xuyên là điều cần thiết. Nhưng khi thay cần thay từng chút một và bổ sung thêm muối ăn.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-rong-benhdomtrang.jpg" alt="">
                    <h4>Bệnh trướng bụng</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Khi nuôi cá rồng thì đây là căn bệnh ít gặp nhưng khả năng chết rất cao nếu gặp phải. Vì thế, người nuôi cần hết sức lưu ý để phòng ngừa cho cá.
                        Triệu chứng của bệnh là cá có hiện tượng bỏ ăn, bụng phình to hơn, bơi lội cũng trở nên khó khăn.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-rong-benhtruongbung.jpeg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Nhiều trường hợp cá có dấu hiệu “trồng cây chuối”. Thậm chí, nếu để bệnh nặng có thể xuất hiện tình trạng hậu môn của cá chảy nước nhờn.
                        Nguyên nhân của căn bệnh này thường là do thức ăn của cá không đạt tiêu chuẩn hoặc ăn quá no khiến cá không thể tiêu hóa gây nên tình trạng viêm ruột.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>