
@{
    ViewBag.Title = "HdKoi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    html {
        scroll-behavior: smooth;
    }
    /*=====================================
            = CSS TẠO MỤC LỤC
            =====================================*/
    #toc_container {
        margin-top: 15px;
        background: #edf6ff;
        border: 1px solid #aaa;
        padding: 0 10px;
        margin-bottom: 1em;
        font-size: 95%;
        width: 450px;
    }

    p.toc_title,
    ul.toc_list {
        margin: 5px;
        padding-left: 0;
    }

    .toc_list li {
        list-style: none;
        margin-top: 0px;
        margin: 0 !important;
    }

    #toc_container a {
        text-decoration: none;
        text-shadow: none;
        color: #52b043;
        font-weight: 555;
    }

        #toc_container a:hover {
            color: #d7c20d;
            text-decoration: underline;
        }

    span.accordion {
        cursor: pointer;
    }

    div.panel {
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }

        div.panel.show {
            opacity: 1;
            max-height: 500px;
        }
</style>

<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 id="title" class="section-title px-5"><span class="px-2" style="color:forestgreen;">KOI</span></h2>
    </div>
    <div class="row px-xl-5 pb-5">

        <div class="content_thongtin" style="display: flex; flex-direction: column; align-items: center;">
            <p class="intro" style="text-indent: 30px; margin: 7px; text-align: justify;">
                Cá Koi đã từ lâu được xem là một trong những biểu tượng cho sự phồn vinh, giàu có và thành công cũng chính vì vậy mà cá koi được rất nhiều người săn đón trên khu vực quốc tế nói chung và cả Việt Nam nói riêng.
                Mệnh danh là giống cá cảnh lớn nhất, cá Koi mang đến nhiều trải nghiệm thích thú cho người chơi, cùng khám phá xem loài cá này có gì đặc biệt đến thế?
            </p>
            <img style="width:650px; height:450px;" src="~/img/ca-koi.jpg" alt="">
            <br>
            <div id="toc_container">
                <b>MỤC LỤC: Nội dung bài viết</b>&nbsp; <span class="accordion active">[Ẩn/Hiện]</span>
                <br />
                <div class="panel show">
                    <ul class="toc_list">
                        <li><a href="#phan-1">Phần 1: Nguồn gốc của cá Koi</a></li>
                        <li><a href="#phan-2">Phần 2: 3 tập tính đặc trưng của Koi thuần chủng</a></li>
                        <li><a href="#phan-3">Phần 3: Đặc điểm của cá Koi</a></li>
                        <li><a href="#phan-4">Phần 4: 4 cách phân loại cá Koi</a></li>
                        <li><a href="#phan-5">Phần 5: Top 5 dòng cá Koi được yêu thích nhất hiện nay</a></li>
                        <li><a href="#phan-6">Phần 6: Bệnh thường gặp ở cá Koi và cách chữa trị</a></li>
                    </ul>
                </div>
            </div>
            <div class="body_content" style="display: flex; flex-direction:column; align-items:center; margin: 10px 20px 10px 20px;">
                <div class="phan1">
                    <h3 id="phan-1">Nguồn gốc của cá Koi</h3>
                    <p></p>
                    <h4>Cá Koi có phải được sinh ra ở Nhật Bản?</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>Một số tài liệu khoa học dự đoán rằng nguồn gốc của Koi là từ Trung Quốc và sau đó du nhập vào xứ sở hoa anh đào từ đầu thế kỷ 19.</li>
                            <li>Sau đó, Nhật Bản đã thuần hóa và tiếp tục lai tạo để cho ra giống cá có màu sắc rực rỡ và khỏe mạnh nhằm thỏa mãn thú vui cá cảnh.</li>
                        </ul>
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-koi1.jpg" alt="">
                    <h4>Niigata Koi – tổ tiên của các dòng cá Koi hiện đại</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>Thời gian đầu thì cá được đặt tên là cá chép nhiều màu hay cá chép thổ cẩm Nishikigoi (Tiếng Nhật: 錦鯉/ にしきこい).</li>
                            <li>Sau đó, từ đầu thế kỷ 20 (năm 1914) nước Nhật đã mang những chú cá Koi đầu tiên này tại Tokyo và đảo Niigata (Niigata Koi) để dâng lên cho hoàng tử Hirohito.</li>
                            <li>Kết thúc sự kiện này thì Koi dần được phổ biến hơn và được mua bán rộng rãi tuy nhiên thì lúc này cá Koi chỉ có 2 màu chính là “đỏ và trắng”.</li>
                        </ul>
                    </p>
                </div>
                <div class="phan2">
                    <h3 id="phan-2">3 tập tính đặc trưng của Koi thuần chủng</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Để chuẩn bị cho mình một hành trang thật chắc chắn và đảm bảo cho việc nuôi cá Koi được suôn sẻ, hạn chế được một số rủi ro không đáng có thì bạn không nên bỏ qua bước tìm hiểu về tập tính của cá như sau:
                    </p>
                    <h4>Tập tính ăn uống</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>
                                Nhờ vào việc “dễ ăn dễ uống” nên cá Koi có thân hình khá vạm vỡ so với các giống cá cảnh còn lại.
                                Tuy nhiên không phải vì vậy mà bạn cho chúng ăn bừa, điều này sẽ dễ sinh ra các bệnh về tiêu hóa cho cá.
                            </li>
                            <li>
                                Phụ thuộc vào độ tuổi, bạn nên ra những cửa hàng chuyên bán thức ăn cho Koi, nhờ các nhân viên tư vấn hoặc tìm hiểu một số thông tin từ sách cũng như quan sát thực trạng cá của bạn để lựa chọn thức ăn phù hợp.
                            </li>
                        </ul>
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-koi2.jpg" alt="">
                    <h4>Cách cá “Koi” lựa chọn môi trường sống</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>Tuổi thọ của cá Koi có thể lên đến 25 – 35 tuổi phụ thuộc phần lớn vào môi trường sống nhân tạo.</li>
                            <li>Cá Koi là giống cá nước ngọt, nhiệt độ nước thích hợp là từ 20 – 25 độ và độ pH tốt nhất là từ 7 - 7.5.</li>
                        </ul>
                    </p>
                    <h4>Tập tính sinh sản</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>Khi được nuôi tại các hồ nhân tạo trong một thời gian, cá Koi quen và thuần thục thì sẽ đẻ trứng sau 1 năm, thường là vào mùa xuân hoặc mùa thu là đẹp nhất.</li>
                            <li>Từ 2 – 3 tuổi thì cá có thể mang thai và mỗi lần sinh ra khoảng 150.000 – 200.000 trứng, thời gian mang thai kéo dài từ 4-5 tháng.</li>
                            <li>Cá Koi thường đẻ vào buổi sớm khi chưa bình minh (4 – 5 giờ sáng) và trứng sẽ nở sau đó khoảng 26 – 48h với điều kiện nhiệt độ nước dao động từ 28 – 30 độ.</li>
                        </ul>
                    </p>
                </div>
                <div class="phan3">
                    <h3 id="phan-3">Đặc điểm của cá Koi</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>
                                Là dòng cá cảnh có kích thước tương đối lớn, trung bình một chú cá Koi trưởng thành có chiều dài dao động trong khoảng 1m. Cân nặng dao động từ 6 tới 8Kg.
                            </li>
                            <li>
                                Koi Thiên Dương mách bạn một số kiến thức cơ bản để nhận diện các dòng Koi phổ biến hiện nay trên thị trường để bạn có thể quan sát và nhận định thật tốt trước khi trở thành một “tay chơi cá Koi”.
                            </li>
                            <li>
                                Tất nhiên là xuất thân gốc gác là con cháu của cá chép nên việc nhầm lẫn giữa Koi và chép là vô cùng bình thường.
                            </li>
                        </ul>
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-koi-phanbiet.jpg" alt="">
                    <h4>Hình dáng của cá Koi</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>
                                Đầu cá Koi có kích thước tương đối nhỏ cùng phần miệng rộng, đẹp và có 1 đôi râu ở 2 bên mép. Dòng cá này cũng có kích thước mắt vừa phải và không bao giờ nhắm.
                            </li>
                            <li>
                                Phần thân của cá koi tương đối tròn, thuôn dài và thu nhỏ ở phần đuôi.
                            </li>
                            <li>
                                Phần lưng của cá koi có những vây tia mềm và gần mang cũng có một cặp vây. Đây là đặc điểm giúp loài cá này có thể bơi lội một cách uyển chuyển.
                            </li>
                            <li>
                                Đuôi của cá coi thường ngắn, chia đôi ở thùy giữa, chỉ có một màu và không có hoa văn.
                            </li>
                        </ul>
                    </p>
                    <h4>Màu sắc của cá</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>
                                Màu sắc của cá koi thường là vô cùng rõ và rực rỡ, cho dù giống cá đã bị lai nhiều thế hệ đi nữa, màu sắc có bị nhạt hoặc hòa lẫn thì cũng có một sự khác biệt hoàn toàn so với cá chép.
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="phan4">
                    <h3 id="phan-4">4 cách phân loại cá Koi</h3>
                    <h4>Cá Koi đơn sắc</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Đây là dòng cá Koi tương đối khác biệt và dễ nhận biết nhất trong các loài cùng giống khác vì nó chỉ sở hữu một màu đơn sắc duy nhất trên mình.
                        Từ đầu đến đuôi và cả bộ vây bao bọc khắp thân cá đều chỉ có một màu đơn sắc duy nhất. Cá Koi đơn khác thường phổ biến nhất là các màu bạch kim, vàng kim, vàng cam.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-koi-donsac.jpg" alt="">
                    <h4>Cá Koi nhị sắc</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Đặc trưng với 2 màu chủ đạo trên thân mình mà không có sự pha trộn nào khác. Hiện ba dòng cá Koi nhị sắc phổ biến nhất koi Utsuri, Koi Bekko và Koi Kohaku.
                        Trong đó Utsuri và Bekko có bề ngoài khá tương tự nhau là đều kết hợp bởi màu đen cùng với một màu sắc khác.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-koi-nhisac.jpg" alt="">
                    <h4>Cá Koi tam sắc</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Hai cá thể nổi bật nhất trong dòng cá koi tam sắc đso là Taisho Sanke và Showa Sanshoku. Đặc trưng của 2 dòng này là sự kết hợp giữa ba màu sắc: đen, trắng và đỏ.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-koi-tamsac.jpg" alt="">
                    <h4>Cá Koi ngũ sắc</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Đặc trưng của dòng Koi ngũ sắc là có tới năm màu sắc đan xen gồm trắng, đỏ, đen, xanh, xám. Tổng thể màu sắc hài hoà với năm màu kết hợp lại tạo nên bố cục hết sắc ấn tượng và đẹp mắt.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-koi-ngusac.jpg" alt="">
                </div>
                <div class="phan5">
                    <h3 id="phan-5">Top 5 dòng cá Koi được yêu thích nhất hiện nay</h3>
                    <h4>Dòng Koi Kohaku</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>Dòng cá này có 2 màu chính là:”đỏ và trắng”.</li>
                            <li>“Shiro” là các mảng màu trắng trên thân cá, “Hi” là các sắc đỏ của cá.</li>
                            <li>Là một trong những Gosanke nổi bật, “big three” bao gồm Kohaku, Sanke và Showa.</li>
                        </ul>
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-koi-kohaku.jpg" alt="">
                    <h4>Dòng Koi Sanke</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>Taisho Sanke còn được gọi là Sanke.</li>
                            <li>Thân hình có màu chủ đạo là trắng và điểm xuyết vài khoang đỏ và vằn đen sumi tựa như những đám mây bềnh bồng, lướt vội dưới mặt nước thôi cũng đã khiến bạn không thể rời mắt.</li>
                            <li>Sanke cũng là thành viên của bộ ba “big three”.</li>
                        </ul>
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-koi-sanke.jpg" alt="">
                    <h4>Dòng Koi Showa</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>Đến với Showa thì màu đen sumi bắt đầu xuất hiện nhiều hơn, có thể lan rộng lên trên cả phần đầu cá.</li>
                            <li>Tên gọi này được kết hợp từ hai chữ Showa (Chiêu Hòa) và Sankoku (ba màu), để đánh dấu sự kiện mà chúng lầm đầu tiên xuất hiện tại thời kỳ thiên hoàng Chiêu Hòa trị vì nối tiếp thiên hoàng Đại Chính.</li>
                        </ul>
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-koi-showa.jpg" alt="">
                    <h4>Dòng Koi Asagi</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>Asagi là một dòng Koi vô cùng đặc biệt khi thân hình dày dặn hơn và màu trắng phủ khắp phần đầu nhưng phần má lại có màu sắc khác như vàng, đỏ, kem.</li>
                            <li>Xương vây của Asagi lộ ra ngoài nên bạn có thể nhìn thấy rất dễ dàng.</li>
                            <li>Đường sóng lưng nổi bật khi các lớp vảy hình quả trám có màu xanh bạc ấn tượng, nổi bật hẵn trên phần màu trắng của toàn bộ thân.</li>
                        </ul>
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-koi-asagi.jpg" alt="">
                    <h4>Dòng Koi Chagoi</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>
                                Giống cá koi Chagoi được nuôi khá phổ biến được xếp vào loại Koi thủ lĩnh bởi cá này có sức sống rất khoẻ,
                                bơi nhanh, quẫy đuôi mạnh, cá thân thiện dạn người. Có màu đơn sắc, không có ánh kim loại, loài cá này háu ăn nên nhanh lớn.
                            </li>
                            <li>
                                Cũng giống như các dòng cá Koi khác, Chagoi biểu tượng cho sự mạnh mẽ, dũng cảm, sẵn sàng đương đầu với thử thách để đạt được thành công.
                            </li>
                        </ul>
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-koi-chagoi.jpg" alt="">
                    <h4>Dòng Koi Bekko</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>
                                Koi Bekko có vẩy đục, không có ánh kim và là dòng cá được kết hợp từ 3 dòng cơ bản đó là đỏ, vàng, trắng với những vệt đen sumi.
                                Loại cá Koi mini này có những đặc điểm của cá chép Nhật là mắt to, mình trong, quan sát được cả phần mũi và sợi râu dưới miệng cá.
                            </li>
                            <li>
                                Có thể phân biệt được Bekko với Utsuri khi quan sát kĩ những mảng màu đen (sumi) trên lưng và đầu của chúng.
                                Khi quan sát phần đầu thì Bekko chỉ thuần màu trắng, còn đầu của cá koi Utsuri có xuất hiện bệt màu đen.
                            </li>
                        </ul>
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-koi-bekko.jpg" alt="">
                    <h4>Dòng cá Koi Bướm</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>
                                Cá Koi Bướm là loài cá Koi vip, được đánh giá cao nhất trong các loài cá Koi,
                                tên gọi cá Koi bướm xuất phát từ đặc điểm loài cá này có vây dài của cá chép trông như cánh bướm và màu sắc rực rỡ của cá Koi.
                            </li>
                            <li>
                                Cá Koi Bướm không có đồng một màu mà sẽ có các màu khác nhau và được phối trộn khá hài hoà.
                            </li>
                            <li>
                                Cá Koi Bướm là sản phẩm của quá trình nhân giống và lai tạo và hiện số lượng nhân giống cá này đang ngày càng tăng, nhân được sự chú ý lớn từ người chơi.
                            </li>
                            <li>
                                Loài cá Koi Bướm khá dạn người và hiền lành nên có thể nuôi chung với các loại cá Koi khác, cá dễ chăm sóc.
                            </li>
                        </ul>
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-koi-buom.jpg" alt="">
                </div>
                <div class="phan6">
                    <h3 id="phan-6">Bệnh thường gặp ở cá Koi và cách chữa trị</h3>
                    <h4>Cá Koi bị đỏ mình</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>
                                Nếu chú cá Koi của gia đình nhà bạn xuất hiện hiện tượng đỏ mình, nấm trắng và tuột nhớt trên lớp da trơn thì bạn nên tiến hành cách ly cá.
                            </li>
                            <li>
                                Nguyên nhân của chứng bệnh này là do cá tiếp xúc với những loài cá mới mua về đã nhiễm bệnh từ trước đó.
                            </li>
                            <li>
                                Để xử lý nhanh tình trạng này thì bạn nên cho thuốc tím vào nước đồng thời sử dụng thêm bình lọc khí oxy và thuốc Malachite green để nâng cao hiệu quả điều trị.
                            </li>
                        </ul>
                    </p>
                    <h4>Cá Koi nằm im dưới đáy, co mình, nhảy khỏi mặt nước</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>
                                Khi cá xuất hiện tượng này thì rất có thể chú cá Koi đã bị sán da và sán nang bám ký sinh trên cơ thể.
                                Nếu không kịp thời xử lý thì tình trạng sức khỏe của cá sẽ ngày càng suy giảm và xuất hiện lở loét trên da.
                            </li>
                            <li>
                                Để khắc phục thì bạn nên đổ thuốc Paziwantel xuống hồ với tần suất 2 lần/ngày.
                            </li>
                            <li>
                                Kiên trì theo dõi khoảng 1 tuần, nếu không có gì thay đổi thì cá sẽ nhanh chóng phục hồi và bơi lội tung tăng trong hồ nước.
                            </li>
                        </ul>
                    </p>
                    <h4>Cá Koi bị stress</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>
                                Nguyên nhân khiến cá Koi bị Stress chính là chủ nhân đã thả thêm rất nhiều loài cá cảnh khác vào trong hồ để nuôi chung.
                                Mặc dù, hành động này sẽ khiến hồ cá trở nên bắt mắt và có hồn hơn.
                            </li>
                            <li>
                                Tuy nhiên, khi số lượng cá cảnh trong hồ quá lớn sẽ khiến lượng oxy bị suy giảm đồng thời cá nhỏ có thể tấn công phần đuôi của Cá Koi.
                            </li>
                            <li>
                                Nếu không kịp thời phát hiện và tách riêng cá cảnh nhỏ sang bể khác sẽ khiến cá Koi bị Stress và chết.
                            </li>
                        </ul>
                    </p>
                    <h4>Cá Koi nhát người</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>
                                Hiện tượng này rất thường xuyên xảy ra đối với những chú cá Koi mới đưa về nuôi trong gia đình.
                                Không riêng gì cá Koi mà bất kỳ loài thú cưng nào khi mới đưa về thì cũng tương đối nhát người.
                            </li>
                            <li>
                                Giải pháp lúc này là trong thời gian đầu bạn nên hạn chế tiếp xúc để Cá Koi ổn định tâm lý.
                                Đồng thời, bể cá cũng nên có nắp đậy hoặc xây thành cao để ngăn chặn nguy cơ cá nhảy khỏi bể
                            </li>
                            <li>
                                Sau khoảng 5-7 ngày bạn nên cho cá ăn theo khung giờ để hình thành thói quen.
                                Việc cho ăn thường xuyên sẽ vô hình giúp sự thân thiết giữa người nuôi và cá được khăng khít hơn.
                            </li>
                        </ul>
                    </p>
                    <h4>Cá Koi bị đục mắt</h4>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        <ul>
                            <li>
                                Cá đục mắt là căn bệnh thường xuyên xảy ra với các dòng cá chép.
                                Vậy nên, nếu thấy mắt cá bị đục và yếu thì bạn nên đưa cá sang một bể mới đồng thời dùng thuốc tím để điều trị.
                            </li>
                            <li>
                                Nguyên nhân chính gây nên hiện tượng này chính là nguồn nước không đảm bảo, chế độ vệ sinh, thay nước sai cách.
                            </li>
                            <li>
                                Nguồn nước trong hồ cá không đảm bảo còn có thể khiến cá mắc nhiều chứng bệnh khác như: mất màu, trùng mỏ neo, rận ở cá, xù vảy, nấm mang, xuất huyết…
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>