
@{
    ViewBag.Title = "HdGuppy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    html {
        scroll-behavior: smooth;
    }
    /*=====================================
            = CSS TẠO MỤC LỤC
            =====================================*/
    #toc_container {
        margin-top: 15px;
        background: #edf6ff;
        border: 1px solid #aaa;
        padding: 0 10px;
        margin-bottom: 1em;
        font-size: 95%;
        width: 450px;
    }

    p.toc_title,
    ul.toc_list {
        margin: 5px;
        padding-left: 0;
    }

    .toc_list li {
        list-style: none;
        margin-top: 0px;
        margin: 0 !important;
    }

    #toc_container a {
        text-decoration: none;
        text-shadow: none;
        color: #52b043;
        font-weight: 555;
    }

        #toc_container a:hover {
            color: #d7c20d;
            text-decoration: underline;
        }

    span.accordion {
        cursor: pointer;
    }

    div.panel {
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }

        div.panel.show {
            opacity: 1;
            max-height: 500px;
        }
</style>

<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 id="title" class="section-title px-5"><span class="px-2" style="color:forestgreen;">GUPPY</span></h2>
    </div>
    <div class="row px-xl-5 pb-5">

        <div class="content_thongtin" style="display: flex; flex-direction: column; align-items: center;">
            <p class="intro" style="text-indent: 30px; margin: 7px; text-align: justify;">
                Cá bảy màu được nhiều người chơi cá cảnh chuyên nghiệp gọi là cá guppy, chúng còn có tên gọi là cá đuôi quạt, cá công...
                Tên khoa học: Poecilia reticulata, thuộc họ Cá khổng tước. Cá bày màu là 1 trong số những loại cá cảnh dễ nuôi nhất.
            </p>
            <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                Cá bày màu là dòng cá phổ biến trên thị trường, chúng có mặt ở hầu hết các nước trên thế giới với nhiều màu sắc đa dạng khác nhau.
            </p>
            <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                Đây là giống cá dễ nuôi, sinh sản nhanh, đa dạng và phong phú nhất trong số các loài cá cảnh (về màu sắc).
                Cá bảy màu nhập ngoại vào Việt Nam có 2 loại chính: bảy màu đuôi rắn và bảy màu thân xanh đen, đuôi màu xanh biếc, đỏ điểm vạch trắng.
                Ở các nước khác có cá bảy màu toàn thân đen tuyền chưa thấy có tại Việt Nam.
            </p>
            <img style="width:650px; height:450px;" src="~/img/guppy1.jpg" alt="">
            <br>
            <div id="toc_container">
                <b>MỤC LỤC: Nội dung bài viết</b>&nbsp; <span class="accordion active">[Ẩn/Hiện]</span>
                <br />
                <div class="panel show">
                    <ul class="toc_list">
                        <li><a href="#phan-1">Phần 1: Nguồn gốc của cá Guppy</a></li>
                        <li><a href="#phan-2">Phần 2: Đặc điểm của cá Guppy</a></li>
                        <li><a href="#phan-3">Phần 3: Phân biệt Guppy trống mái</a></li>
                        <li><a href="#phan-4">Phần 4: Những loại cá Guppy hiện nay</a></li>
                        <li><a href="#phan-5">Phần 5: Guppy Full Red</a></li>
                        <li><a href="#phan-6">Phần 6: Full Black Guppy</a></li>
                        <li><a href="#phan-7">Phần 7: Guppy Koi Red</a></li>
                        <li><a href="#phan-8">Phần 8: Koi Short Guppy</a></li>
                        <li><a href="#phan-9">Phần 9: Dumbo Red Tail Guppy</a></li>
                        <li><a href="#phan-10">Phần 10: Blue Grass Guppy</a></li>
                        <li><a href="#phan-11">Phần 11: Guppy Rồng Xanh Indo</a></li>
                        <li><a href="#phan-12">Phần 12: Full Platinum Guppy</a></li>
                        <li><a href="#phan-13">Phần 13: Guppy HB White</a></li>
                        <li><a href="#phan-14">Phần 14: Full Gold Guppy</a></li>
                        <li><a href="#phan-15">Phần 15: Rồng Đỏ Guppy</a></li>
                        <li><a href="#phan-16">Phần 16: Blue Topaz Guppy</a></li>
                        <li><a href="#phan-17">Phần 17: Guppy Tiger</a></li>
                        <li><a href="#phan-18">Phần 18: HB Red Rose Guppy</a></li>
                        <li><a href="#phan-19">Phần 19: Dumbo Moisac Guppy</a></li>
                        <li><a href="#phan-20">Phần 20: Rồng Tím Guppy</a></li>
                    </ul>
                </div>
            </div>
            <div class="body_content" style="display: flex; flex-direction:column; align-items:center; margin: 10px 20px 10px 20px;">
                <div class="phan1">
                    <h3 id="phan-1">Nguồn gốc của cá Guppy</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá có nguồn gốc từ Jamaica, sống trong những vũng vịnh cạn, eo biển, mương rãnh và dọc theo bờ biển.
                        Năm 1866, Robert John Lechmere Guppy sống ở đảo Trinidad thuộc British West Indies gửi một vài con cá này đến bảo tàng Anh để nhận dạng.
                        Albert C. L. G. Gunther của bảo tàng này đặt tên khoa học cho nó là Girardinus guppii để ghi công Guppy vào cuối năm đó.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/guppy2.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Đến năm 1913, đặt tên lại là Lebistes reticulatus, tên khoa học chính thức lúc bấy giờ.
                        Tuy nhiên, loài cá này đã được Wilhelm Peters mô tả trước đó vào năm 1859 trong số sinh vật ông thu thập được từ Nam Mỹ.
                        Mặc dù Girardinus guppii hiện nay được coi là từ đồng nghĩa của Poecilia reticulata, nhưng tên gọi "guppy" vẫn được sử dụng.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Theo thời gian cá bảy màu đã được đặt nhiều tên gọi khoa học khác, nhưng hiện tại Poecilia reticulata là danh pháp được coi là hợp lệ.
                    </p>
                    <h4>Phân bố</h4>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/guppy3.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá bảy màu là cá bản địa của Trinidad và một số khu vực thuộc Nam Mỹ, tuy nhiên, cá bảy màu đã được đưa vào nhiều quốc gia khác nhau tại mọi châu lục, ngoại trừ châu Nam Cực.
                    </p>
                </div>
                <div class="phan2">
                    <h3 id="phan-2">Đặc điểm của cá Guppy</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá guppy hay tên gọi dân dã mà những người chơi loại cá này vẫn hay gọi là “Cá bảy màu”. Tuy nhiên, cá bảy màu không hẳn là guppy theo như quan điểm cũ mà chúng ta vẫn thường gọi.
                        Cá bảy màu theo như chúng ta vẫn thường biết là loại cá cảnh nhỏ, chúng có màu sắc sặc sỡ.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Có 1 đặc điểm ở cá bảy màu là hiếm khi nào bạn thấy 2 cá thể bảy màu giống hệt nhau. Lý do ở đây là cá bảy màu đã được giao phối chéo với nhau rất nhiều lần.
                        Từ đó khó có thể tìm được 2 cá thể giống nhau. Nên chúng ta chỉ có thể gọi chúng là “Cá bảy màu”.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ho-ca-7-mau.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá guppy thuần chủng thì khác. Chúng có tên gọi riêng biệt cho từng dòng cá nhỏ. Mỗi dòng cá guppy sẽ được người chơi đặt tên dựa trên màu sắc, hoa văn, các đặc điểm nổi trội.
                        Thậm chí cả tên của người đã lai tạo ra chúng. Như 1 số dòng guppy rồng đỏ được Trại cá Naphawan – Thái Lan lai tạo và nuôi ra với số lượng lớn. Mỗi khi nhắc đến cá guppy rồng người ta nghĩ ngay đến cá guppy rồng đỏ của Naphawan.
                    </p>
                </div>
                <div class="phan3">
                    <h3 id="phan-3">Phân biệt Guppy trống mái</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Trước đây, cá bảy màu cá sống trên những đầm lầy nước lợ, nó được liệt cùng loại với cá livebearer (hồng kim, hồng mi, hắc-molly,...) bởi vì nó giống nhau về cách sinh con (cùng dòng cá đẻ ra con chứ không đẻ trứng),
                        vì vậy việc nhân giống cá bảy màu là tương đối dễ dàng. Thật không may, nhiều người không nhận biết được cá trống và cá mái khi mới nhìn thấy nó.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/guppy4.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Đây là một số chi tiết đơn giản để nhận biết cá bảy màu đực và cái:
                        <ul>
                            <li>
                                <b>CÁ BẢY MÀU TRỐNG</b> có màu sắc sặc sỡ và rõ ràng. Cơ thể cá trống thon gọn, màu sắc có thể phủ toàn thân kể cả vây trên theo nhiều dạng (đơn sắc, đốm màu, hoa văn,...) vây trên và đuôi dài.
                            </li>
                            <li>
                                <b>CÁ BẢY MÀU MÁI</b> cơ thể lớn hơn cá trống, bụng tròn to. Hầu hết trên thân không có màu hoặc có ít màu ở cuống đuôi nhưng mờ và không rõ ràng. Vây và đuôi có thể có màu nhưng cũng rất mờ.
                            </li>
                        </ul>
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Còn cách nhận biết cá đực và cái thông qua cơ quan sinh dục thì sau một thời gian nuôi và quan sát các bạn có thể tự nhận biết được ngay mà không cần ai chỉ cả.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Nói chung là cách phân biệt đực và cái của cá bảy màu ngược lại với con người chúng ta. Cá đực thì sặc sỡ, thướt tha và quyến rũ còn cá cái thì to xác, rắn rỏi, dữ dằn,...
                    </p>
                </div>
                <div class="phan4">
                    <h3 id="phan-4">Những loại cá Guppy hiện nay</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Nhu cầu của người chơi cá cảnh đối với dòng cá guppy này là rất lớn. Bởi guppy có rất nhiều loại khác nhau. Do đó, tùy thuộc vào sở thích và nhu cầu mà mỗi người sẽ lựa chọn cho mình giống cá bảy màu phù hợp.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        So với các loại cá cảnh khác thì cá bảy màu guppy có những đặc điểm nổi bật hơn. Từ màu sắc cho tới chủng loại đều rất đa dạng.
                    </p>
                </div>
                <div class="phan5">
                    <h3 id="phan-5">Guppy Full Red</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá Guppy Full Red có một đặc điểm để bạn có thể dễ dàng nhận biết ra. Đó chính là phần thân của nó có màu đỏ rực. Ngay cả phần vây cá cũng màu đỏ tươi.
                        Giống cá này có nguồn gốc xuất xứ Đài Loan và Thái Lan. Hiện nay cá bảy màu Full Red được nuôi khá phổ biến tại Việt Nam.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/full-red-guppy.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Dòng Full Red cũng xuất hiện từ khá lâu . Chính vì thế bộ gen của dòng này khá là thuần chủng và đẹp xuất sắc.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Điểm đặc biệt của dòng Full Red là sở hữu được bộ cờ lưng Big Dosal hay còn gọi là vay BDS. Cờ lưng bảng rộng to và xếp ly như cánh quạt
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Dòng cá guppy Full Red có 2 loại đẹp nhất đó chính là Full Red Big Dorsal và dòng Full Red Ribbon. Đây là 2 giống cá có phần đuôi to, vây rộng nên trông rất bắt mắt.
                        Đặc biệt, dòng Full Red BDS rất có giá trị, nó là giống cá bảy màu Full Red rất khó mua và giá trị lên tới hàng triệu đồng/ cặp.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Để có thể giúp giống cá Full Red có được ngoại hình hoàn hảo nhất thì chế độ chăm sóc đóng vai trò rất quan trọng.
                        Người nuôi cần phải tạo điều kiện tốt nhất để nuôi chúng. Bao gồm ánh sáng, nguồn thức ăn và cả chất lượng nước phải đảm bảo để cá guppy có thể sinh trưởng và phát triển tốt nhất.
                    </p>
                </div>
                <div class="phan6">
                    <h3 id="phan-6">Full Black Guppy</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Một trong những dòng cá guppy được yêu thích nhất hiện nay đó là cá bảy màu Full Black. Đây là loại cá cảnh sở hữu rất nhiều nét đẹp nổi bật. Phần thân và vây của nó có màu đen.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/full-black-guppy.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Khác với các giống cá guppy bảy màu khác, Full Black sở hữu ngoại hình mới lạ và ưa nhìn. Bất kỳ ai khi nhìn ngắm giống cá cảnh này sẽ đều cảm thấy yêu thích. Bởi hình dáng và màu sắc của chúng rất đặc biệt.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Đây là giống cá guppy có nguồn gốc xuất xứ từ Thái Lan. Hiện nay, tại Việt Nam có rất nhiều người săn lùng giống cá cảnh này để nuôi.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Dòng này thì chủ yếu được các bạn chơi thủy sinh ưa chuộng. Vì khi chơi hồ thủy sinh bạn cần những chú cá có màu sắc đậm để nổi bật thêm cho bể thủy sinh.
                    </p>
                </div>
                <div class="phan7">
                    <h3 id="phan-7">Guppy Koi Red</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá bảy màu Koi đỏ cũng là một trong những giống cá được rất nhiều người chơi cá cảnh ưa chuộng. Không chỉ dễ nuôi mà cá Koi đỏ còn có màu sắc và nét đẹp rất riêng.
                        Phần thân của nó màu trắng đỉnh đầu màu đỏ tưới. Phần vây và đuôi của nó lấy màu đỏ làm chủ đạo. Bởi màu đỏ tươi sáng của Koi đỏ sẽ giúp bể cá cảnh có thêm điểm nhấn và trông đẹp mắt, hấp dẫn hơn.
                        Đặc biệt giống cá guppy này rất thích hợp để nuôi trong các bể cá có thiết kế điểm nhìn theo chiều từ trên xuống dưới.
                        Bởi ở góc nhìn này, bạn sẽ thấy được hết mọi vẻ đẹp yêu kiều, cuốn hút của giống cá bảy màu này.Dòng này chủ yếu dành cho các bạn thích chơi top view.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/guppy-koiRed.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Giống cá Koi Guppy này có rất nhiều các giống cá khác nhau. Điển hình như cá Koi đỏ Guppy, Koi Guppy đen, Wild Koi.
                        Tuy nhiên được yêu thích nhất phải kể tới Koi Guppy đỏ. Đây cũng là giống cá phổ biến được nuôi nhiều nhất hiện nay.
                    </p>
                </div>
                <div class="phan8">
                    <h3 id="phan-8">Koi Short Guppy</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Guppy Koi Đen  có màu sắc rất nổi bật. Phần thân của nó lấy màu đen làm chủ đạo. Riêng phần đuôi và phần đầu sẽ có màu đỏ.
                        Chính vì vậy, Guppy Koi Đen sở hữu ngoại hình vạn người mê. Trong bể cá thì giống cá này là nổi bật và cuốn hút nhất.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/guppy-koiShort.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Thân hình của cá bảy màu koi đen thường rất nhỏ nên chúng di chuyển rất nhanh nhạy. Ngoài ra, phần thân của cá Guppy Koi Đen có kích thước phình to cùng phần đuôi nhọn nên trông nó rất dễ thương và cuốn hút.
                    </p>
                </div>
                <div class="phan9">
                    <h3 id="phan-9">Dumbo Red Tail Guppy</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Nhắc tới giống cá bảy màu được yêu thích nhất hiện nay không thể không kể tới giống cá Guppy Dumbo Red Tail. Đây là giống cá có vẻ đẹp vô cùng độc đáo và có nét cuốn hút rất riêng.
                        Nó khiến cho những người chơi cá cảnh bị mê mẩn. Bởi màu đỏ rực xuyên xuất từ phần vây cá cho tới phần đuôi cá.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/guppy-dumbo-RedTail.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Đặc biệt, phần đuôi của nó có hình cánh quạt và phần đầu, thân lại sở hữu màu tím nhạt cuốn hút. Chính vì vậy.
                        Guppy Dumbo Red Tail là giống cá mới lạ được rất nhiều người săn đón. Đây là giống cá cổ điển nhưng lại rất nổi bật.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Tùy theo môi trường và nguồn thức ăn được cung cấp, giống cá bảy màu này sẽ có màu sắc phần tay bơi khác nhau. Thường chúng sẽ có các màu điển hình như tím, xanh, trắng hoặc màu đen tuyền.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Nếu nuôi cá Dumbo Red Tail ở ngoài trời thì chúng sẽ lên màu đẹp hơn. Bởi khi được hấp thu tia nắng mặt trời thì màu sắc của giống cá này sẽ trở nên tươi sáng hơn.
                    </p>
                </div>
                <div class="phan10">
                    <h3 id="phan-10">Blue Grass Guppy</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Sở hữu màu xanh dương đẹp mắt ở phần vây và phần đuôi cá nên giống cá Blue Grass nhận được rất nhiều sự yêu thích từ phía người chơi cá cảnh.
                        Phần lưng của chúng có thêm các hoa văn chấm bi đẹp mắt nên cái tên Blue Grass cũng vì thế mà có.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/guppy-blue-grass.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Đây là giống cá guppy có nguồn gốc xuất xứ từ Đài Loan, Thái Lan. Chúng sở hữu phần vây khá to, phần lưng có ánh kim và vây lưng thì dựng lên.
                    </p>
                </div>
                <div class="phan11">
                    <h3 id="phan-11">Guppy Rồng Xanh Indo</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá Guppy Rồng Xanh Indo là giống cá mới du nhập vào Việt Nam chưa lâu. Nhưng nó đã nhận được rất nhiều sự yêu thích từ phía người chơi.
                        Bởi giống cá  này có màu xanh nổi bật. Khi nuôi chúng trong bể cá sẽ rất đẹp mắt. Chưa kể phần thân của nó có thêm vảy platinum nên khi nuôi sẽ càng tăng thêm vẻ đẹp cuốn hút cho bể cá.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/guppy-rongxanh-indo.jpg" alt="">
                </div>
                <div class="phan12">
                    <h3 id="phan-12">Full Platinum Guppy</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Trong số các giống cá bảy màu thì cá Guppy Paltinum là đặc biệt và nổi bật nhất. Chúng sở hữu vẻ ngoài rất khác biệt và lạ mắt. Chính vì vậy đây là một trong số những giống cá được săn lùng mua nhiều nhất hiện nay.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/guppy-full-platinum.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Đặc điểm nhận dạng của giống cá bảy màu này đó chính là toàn thân cá có màu vàng đẹp mắt. Phần sống lưng và cuối đuôi sẽ được phối thêm màu trắng. Nhờ đó mà Guppy Paltinum lại càng trở nên lạ mắt và đẹp lung linh hơn.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Nếu nhìn kỹ bạn sẽ thấy phần bụng của nó phình to trông rất dễ mến. Đặc điểm này nó giống với cá chép. Phần đuôi thì lại thon. Do đó, nếu muốn mua giống cá cảnh này, bạn nên thiết kế bể cá có chiều nhìn từ trên xuống dưới.
                        Như vậy mới có thể phô diễn được hết mọi vẻ đẹp cuốn hút của loài cá cảnh đặc sắc này.
                    </p>
                </div>
                <div class="phan13">
                    <h3 id="phan-13">Guppy HB White</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Tuy là dòng cá bảy màu mới nhưng Guppy HB White đã nhanh chóng chiếm được thiện cảm của người chơi. Giống cá này có màu sắc đen, trắng nổi bật. Phần thân sẽ có màu đen và phần vây có màu trắng.
                        Ngoài ra, so với các giống cá guppy khác thì Guppy HB White dễ nuôi hơn. Chúng được nhận xét là rất khỏe và khả năng sinh sản của nó cũng rất nhanh.
                        Thời gian chăm sóc cũng ít hơn các giống cá cảnh khác. Chính vì vậy nhiều người thường lựa chọn Guppy HB White để nuôi.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/guppy-HBWhite.jpg" alt="">
                </div>
                <div class="phan14">
                    <h3 id="phan-14">Full Gold Guppy</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Đặc điểm nhận dạng của dòng này cũng giống như tên gọi của chúng. Full Gold toàn thân màu vàng Gold. Màu vàng của kim loại vàng.
                        Các bạn đừng nhầm lẫn với màu vàng yellow. Màu vàng Gold sẽ ánh sáng lên khi gặp ánh sáng chiếu vào
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/guppy-fullGold.jpg" alt="">
                </div>
                <div class="phan15">
                    <h3 id="phan-15">Rồng Đỏ Guppy</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Guppy rồng đỏ có đuôi đỏ và vây lưng có hoa văn. Đồng thời thân có vảy ánh kim trông rất đẹp mắt.
                        Nếu bạn nuôi chúng trong bể kính thì khi ngắm nhìn chúng bơi lội sẽ thật tuyệt vời biết bao vì màu sắc sặc sỡ của chúng.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/guppy-rongdo.jpg" alt="">
                </div>
                <div class="phan16">
                    <h3 id="phan-16">Blue Topaz Guppy</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Mang trên mình bộ đuôi màu xanh của viên ngọc blue topaz . Màu sắc khá hiếm ở các dòng cá. Đặc biệt dòng này còn sợ hữu thêm bộ vây lưng Big Dorsal.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/guppy-Blue-Topaz.jpg" alt="">
                </div>
                <div class="phan17">
                    <h3 id="phan-17">Guppy Tiger</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Đặc điểm nhận dạng dòng này : thân vàng đuôi hoa văn . Đặc biệt trên thân có những đóm đen vằn vện giống như con cọp. cái tên Tiger King cũng bắt nguồn từ đây.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/guppy-tiger.jpg" alt="">
                </div>
                <div class="phan18">
                    <h3 id="phan-18">HB Red Rose Guppy</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Đặc điểm của dòng này là bộ vây đuôi và vây lưng rất đặc biệt. Sỡ dĩ được gọi là HB Red Rose.
                        Red ý nói đuôi cá màu đỏ. Rose là hoa hồng ý nối bộ đuôi của dòng này được xếp ly độ nhúng phùng như hoa hồng.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/guppy-hb-red-rose.jpg" alt="">
                </div>
                <div class="phan19">
                    <h3 id="phan-19">Dumbo Moisac Guppy</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Đây là dòng lai tạo từ dòng Rồng Đỏ và Dumbo Red Tail.
                        Dòng này mang được bộ gen tai bơi lớn của dòng Dumbo Red Tail. Và bộ đuôi hoa văn mosiac của dòng rồng đỏ .
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/guppy-dumbo-mosaic.jpg" alt="">
                </div>
                <div class="phan20">
                    <h3 id="phan-20">Rồng Tím Guppy</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Đây là dòng duy nhất có màu tím. Màu tím trong cá cảnh phải nói rất hiếm loài cá nào có màu sắc này.
                        Chính vì thế dòng cá Rồng Tím Guppy khá đặc biệt. Đuôi có hoa văn Mosiac. Trên thân có vảy rồng đặc trưng của loài cá bảy màu Rồng.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/guppy-rong-tim.png" alt="">
                </div>
            </div>
        </div>

    </div>
</div>