
@{
    ViewBag.Title = "HdLocCanh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    html {
        scroll-behavior: smooth;
    }
    /*=====================================
            = CSS TẠO MỤC LỤC
            =====================================*/
    #toc_container {
        margin-top: 15px;
        background: #edf6ff;
        border: 1px solid #aaa;
        padding: 0 10px;
        margin-bottom: 1em;
        font-size: 95%;
        width: 450px;
    }

    p.toc_title,
    ul.toc_list {
        margin: 5px;
        padding-left: 0;
    }

    .toc_list li {
        list-style: none;
        margin-top: 0px;
        margin: 0 !important;
    }

    #toc_container a {
        text-decoration: none;
        text-shadow: none;
        color: #52b043;
        font-weight: 555;
    }

        #toc_container a:hover {
            color: #d7c20d;
            text-decoration: underline;
        }

    span.accordion {
        cursor: pointer;
    }

    div.panel {
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }

        div.panel.show {
            opacity: 1;
            max-height: 500px;
        }
</style>

<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 id="title" class="section-title px-5"><span class="px-2" style="color:forestgreen;">CÁ LÓC CẢNH</span></h2>
    </div>
    <div class="row px-xl-5 pb-5">

        <div class="content_thongtin" style="display: flex; flex-direction: column; align-items: center;">
            <p class="intro" style="text-indent: 30px; margin: 7px; text-align: justify;">
                Cá lóc cảnh là một loại cá săn mồi được nuôi làm cảnh trong những năm gần đây, trước đây cũng đã có lượng người chơi nhất định biết đến dòng cá này.
                Tuy nhiên, thị trường cá lóc cảnh chỉ thực sự bùng nổ trong 2-3 năm trở lại đây. Với rất nhiều loại cá lóc cảnh phong phú, từ đắt tiền tới bình dân, từ hàng nội địa tới hàng nhập.
            </p>
            <img style="width:650px; height:450px;" src="~/img/ca-loc-canh1.jpg" alt="">
            <br>
            <div id="toc_container">
                <b>MỤC LỤC: Nội dung bài viết</b>&nbsp; <span class="accordion active">[Ẩn/Hiện]</span>
                <br />
                <div class="panel show">
                    <ul class="toc_list">
                        <li><a href="#phan-1">Phần 1: Nguồn gốc của cá lóc cảnh</a></li>
                        <li><a href="#phan-2">Phần 2: Đặc điểm của cá lóc cảnh</a></li>
                        <li><a href="#phan-3">Phần 3: Cá Lóc Vây Xanh Việt Nam (Channa Limbata)</a></li>
                        <li><a href="#phan-4">Phần 4: Cá Lóc Vây Xanh Cầu Vồng – Channa Andrao</a></li>
                        <li><a href="#phan-5">Phần 5: Cá Lóc Cầu Vồng Ngũ Sắc – Channa Bleheri</a></li>
                        <li><a href="#phan-6">Phần 6: Cá Lóc Muối Tiêu Vây Xanh (Tiểu Hoàng Đế) – Channa Sterwatii</a></li>
                        <li><a href="#phan-7">Phần 7: Cá Lóc Mắt Bò – Channa Marulius</a></li>
                    </ul>
                </div>
            </div>
            <div class="body_content" style="display: flex; flex-direction:column; align-items:center; margin: 10px 20px 10px 20px;">
                <div class="phan1">
                    <h3 id="phan-1">Nguồn gốc của cá lóc cảnh</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá lóc cảnh có tên tiếng anh là Channa thuộc họ cá quả – Channidae (cùng họ với cá lóc ăn thịt mà chúng ta vẫn thường ăn đấy).
                        Đây là loài cá thể sống ở nước ngọt, sông suối, nước lợ, nước đục, có nguồn gốc từ Châu Á, sống phân bổ tại các khu vực phía tây Iraq, Indonesia, Trung Quốc, Ấn Độ và một phần ở Siberia.
                        Có một điều thú vị nữa là ngoài để làm cảnh thì cá Lóc cảnh còn được sử dụng để chế biến thành các loại thuốc giảm đau, thuốc chữa lành vết thương. Trong tự nhiên, vào mùa hè chúng sống ở tầng trên nhưng vào mùa đông lại sống ở tầng đáy.
                    </p>
                </div>
                <div class="phan2">
                    <h3 id="phan-2">Đặc điểm của cá lóc cảnh</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Bề ngoài cá khá giống cá lóc đồng với phần đầu dẹt, nhưng màu sắc thì sực sỡ hơn rất nhiều. Dễ nhận ra là các đốm màu to nhỏ nằm khắp thân như những đốm hoa. Phần vây lưng, bụng, đuôi xòe tròn, riêng vây bụng chạy dọc từ hậu môn đến cuối đuôi, ở một số con còn có viền màu chạy xung quanh vây.
                        Nhìn chung đặc điểm khiến cá lóc cảnh làm cho anh em chơi cá mê mẩm chính là màu sắc hoa văn đẹp, độc, lạ hiếm gặp trên hầu hết các loại cá cảnh trong thị trường hiện nay.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-loc-canh2.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cũng như các loài cá lóc khác, cá lóc cảnh là loài ăn tạp, chúng có thể ăn hầu hết các loài thức ăn cho cá phổ biến hiện nay. Nhưng đây là một loài cá dữ, màu đẹp,
                        để duy trì sự sung mãn và giữ màu cho cá luôn đẹp cần thường xuyên cho ăn các loại thức ăn cho cá dạng tươi sống. Những loại thức ăn sống ưa thích của cá lóc cảnh là: trùng chỉ, giun đất, tim bò kích đỏ, thịt bò, tôm, Nên cho cá ăn tối đa 1 lần/ngày, cho cá ăn thật no và vừa đủ tránh dư thừa làm bẩn nước.
                    </p>
                </div>
                <div class="phan3">
                    <h3 id="phan-3">Cá Lóc Vây Xanh Việt Nam (Channa Limbata)</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Đây là một loại cá lóc rất đẹp được nuôi làm cảnh, có nguồn gốc từ Việt Nam và một số nước Đông Nam Á như Malaysia, Indonesia…Cá lóc vây xanh rất dễ nuôi do là cá bản địa, giá cả cũng rất bình dân, nên phù hợp với hầu hết người mới tham gia môn chơi cá Lóc. Giống như nhiều loài cá lóc khác,
                        bạn cần một cái bể rộng vừa phải với nắp đậy để đề phòng cá nhảy ra ngoài. Thêm một ít bèo và rong rêu để tái hiện điều kiện sống tự nhiên, giúp cá thoải mái, giảm stress và sinh trưởng phát triển bình thường. Thức ăn của chúng cũng khá dễ dàng, từ tôm, tép, cá nhỏ, ốc, sâu, dế và các loại côn trùng bạn đều có thể sử dụng được.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-loc-vay-xanh-vn.jpg" alt="">
                </div>
                <div class="phan4">
                    <h3 id="phan-4">Cá Lóc Vây Xanh Cầu Vồng – Channa Andrao</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Đây cũng là một dòng cá lóc vây xanh tuyệt đẹp, giá bình dân, dễ mua dễ chơi, rất phù hợp cho người mới bắt đầu nuôi Lóc cảnh. Đây là một loài cá có sức sống mãnh liệt có nguồn gốc từ sông Brahmaputra, Ấn Độ, chúng có thể sống 4 ngày trên cạn và rạch men theo các vùng đất ẩm lên tới 400m.
                        Kích thước tối đa của chúng khi trưởng thành là từ 18-20cm, cá cái thường lớn hơn cá đực, trên thân cũng nhiều đốm đỏ hơn, cá đực thì có bộ vây dài và óng ánh màu sắc hơn cá cái. Chúng cũng ăn rất tạp, hầu như bạn có thể cho ăn rất nhiều loại thức ăn khác nhau dành cho cá săn mồi có bán trên thị trường hiện nay.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-loc-vaycauvong.jpg" alt="">
                </div>
                <div class="phan5">
                    <h3 id="phan-5">Cá Lóc Cầu Vồng Ngũ Sắc – Channa Bleheri</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Tiếp theo vẫn là một ứng cử viên tới từ Ấn Độ, cá lóc cầu vồng ngũ sắc – Channa Bleheri có nguồn gốc từ sông Dibrugarh, vùng đông bắc Assam, Ấn Độ. Đây là một loài cá lóc nhỏ, với màu sắc vô cùng sặc sỡ, điều này lý giải tại sao người chơi Việt Nam lại gọi nó là “Ngũ Sắc”.
                        Đây là một loài cá rất hiền lành và thân thiện, khi nhỏ chúng có màu vàng đặc trưng và 1 sọc trên đầu, khi lớn, màu sắc sặc sỡ phát triển, tạo nên một điểm nhấn khó quên trong mỗi bể nuôi. Bạn có thể nuôi theo đôi hoặc nuôi theo nhóm, tuỳ theo số lượng mà chọn kích thước bể phù hợp.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-loc-cauvongngusac.jpg" alt="">
                </div>
                <div class="phan6">
                    <h3 id="phan-6">Cá Lóc Muối Tiêu Vây Xanh (Tiểu Hoàng Đế) – Channa Sterwatii</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá Lóc Vây Xanh Muối Tiêu hay còn được gọi là cá lóc Tiểu Hoàng Đế, cũng là 1 trong những loại cá lóc phổ biến và được người chơi lóc rất yêu thích. Đối với dòng cá này thì tính thẩm mỹ nằm ở các chấm muối tiêu và bộ vây xanh của cá khi trưởng thành.
                        Chúng có nguồn gốc từ sông Nepal, Ấn Độ, có sức sống mãnh liệt, dễ ăn uống và chăm sóc. Người mới chơi hoàn toàn có thể bắt đầu thử sức với dòng cá lóc này.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-loc-canh-muoi-tieu.jpg" alt="">
                </div>
                <div class="phan7">
                    <h3 id="phan-7">Cá Lóc Mắt Bò – Channa Marulius</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Đây là một loài cá lóc có nguồn gốc từ Nam Á, nhưng nay đã chuyển hộ khẩu tới Mỹ. Ở Nam Ấn Độ, nó thường được tìm thấy trong hồ chứa, đập chứa nước, ví dụ như đập Pechpparai, Chittar, Manimuthar, Bhvani và Mettur của bang Tamil Nadu và Thenmalai,
                        đập Neyyar và Idukki của Kerala. Tại Assam nó được gọi theo tên địa phương là xaal. Nó là loài phát triển nhanh hơn hầu hết các loài khác thuộc cùng chi. Đây thực sự là một loài cá săn mồi mạnh mẽ.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-loc-mat-bo.jpg" alt="">
                </div>
            </div>
        </div>

    </div>
</div>