
@{
    ViewBag.Title = "HdThuySinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    html {
        scroll-behavior: smooth;
    }
    /*=====================================
            = CSS TẠO MỤC LỤC
            =====================================*/
    #toc_container {
        margin-top: 15px;
        background: #edf6ff;
        border: 1px solid #aaa;
        padding: 0 10px;
        margin-bottom: 1em;
        font-size: 95%;
        width: 450px;
    }

    p.toc_title,
    ul.toc_list {
        margin: 5px;
        padding-left: 0;
    }

    .toc_list li {
        list-style: none;
        margin-top: 0px;
        margin: 0 !important;
    }

    #toc_container a {
        text-decoration: none;
        text-shadow: none;
        color: #52b043;
        font-weight: 555;
    }

        #toc_container a:hover {
            color: #d7c20d;
            text-decoration: underline;
        }

    span.accordion {
        cursor: pointer;
    }

    div.panel {
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }

        div.panel.show {
            opacity: 1;
            max-height: 500px;
        }
</style>

<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 id="title" class="section-title px-5"><span class="px-2" style="color:forestgreen;">CÁ THỦY SINH</span></h2>
    </div>
    <div class="row px-xl-5 pb-5">

        <div class="content_thongtin" style="display: flex; flex-direction: column; align-items: center;">
            <p class="intro" style="text-indent: 30px; margin: 7px; text-align: justify;">
                Chơi cá dưỡng tâm, chơi cây dưỡng tính, chơi chim dưỡng thần. Chơi cá cảnh nói chung và cá thuỷ sinh nói riêng từ lâu đã là một trong những thú chơi
                rất tao nhã và khá phổ biến đối với nhiều người dân, thật thú vị khi được ngắm nhìn các loại cá cảnh, cá thuỷ sinh bơi đàn đẹp với đủ sắc màu bơi lội
                tung tăng trong những bể thuỷ sinh xanh mướt không chỉ là sở thích, niềm đam mê mà còn giúp đem lại niềm vui, sự thư giãn cho người chơi khi ngắm nhìn vẻ đẹp tự nhiên của chúng.
            </p>
            <img style="width:650px; height:450px;" src="~/img/background2.jpg" alt="">
            <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                Dưới đây là các loại cá cảnh, cá thuỷ sinh đẹp đang được giới thủy sinh yêu thích:
            </p>
            <div id="toc_container">
                <b>MỤC LỤC: Nội dung bài viết</b>&nbsp; <span class="accordion active">[Ẩn/Hiện]</span>
                <br />
                <div class="panel show">
                    <ul class="toc_list">
                        <li><a href="#phan-1">Phần 1: Cá neon</a></li>
                        <li><a href="#phan-2">Phần 2: Cá ba đuôi</a></li>
                        <li><a href="#phan-3">Phần 3: Cá thanh ngọc</a></li>
                        <li><a href="#phan-4">Phần 4: Cá Tỳ Bà</a></li>
                        <li><a href="#phan-5">Phần 5: Cá Chuột Mỹ</a></li>
                        <li><a href="#phan-6">Phần 6: Cá Thiên Đường</a></li>
                        <li><a href="#phan-7">Phần 7: Cá Đuôi Kiếm</a></li>
                        <li><a href="#phan-8">Phần 8: Cá Sặc Gấm</a></li>
                        <li><a href="#phan-9">Phần 9: Cá Anh Đào</a></li>
                        <li><a href="#phan-10">Phần 10: Cá Phượng Hoàng</a></li>
                        <li><a href="#phan-11">Phần 11: Cá Ali</a></li>
                        <li><a href="#phan-12">Phần 12: Cá Thần Tiên</a></li>
                        <li><a href="#phan-13">Phần 13: Cá Trâm</a></li>
                        <li><a href="#phan-14">Phần 14: Cá Tam Giác</a></li>
                    </ul>
                </div>
            </div>
            <div class="body_content" style="display: flex; flex-direction:column; align-items:center; margin: 10px 20px 10px 20px;">
                <div class="phan1">
                    <h3 id="phan-1">Cá neon</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá Neon là dòng cá cảnh đẹp được rất nhiều người chơi cá cảnh và thủy sinh tại Việt Nam ưa chuộng.
                        Đây là dòng cá độc đáo với màu sắc ấn tượng, mỗi khi bật đèn, chúng sẽ phản chiếu ánh sáng như những chiếc bóng đèn Neon. Chính vì lý do này mà dòng cá này được đặt cho cái tên đó.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-neon.jpg" alt="">
                </div>
                <div class="phan2">
                    <h3 id="phan-2">Cá ba đuôi</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Là loài cá cảnh đẹp thuộc họ cá Chép. Loại cá này dễ thích nghi với điều kiện sống trong bể nuôi từ kích cỡ nhỏ đến to, hòn non bộ, bể cạn, bể kính…Điểm đặc biệt của cá 3 đuôi là loại cá cảnh nước ngọt dễ nuôi.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca3duoi.jpg" alt="">
                </div>
                <div class="phan3">
                    <h3 id="phan-3">Cá thanh ngọc</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá Thanh Ngọc hay cá bãi trầu, cá bảy trầu là một chi cá thuộc họ Cá sặc. Chúng là loại cá cảnh dễ nuôi không cần oxy, phân bố ở vùng Đông Nam châu Á, từ Myanma, Thái Lan
                        tới Việt Nam và bán đảo Mã Lai. Ghi chép về sự có mặt của loài cá thanh ngọc tại các đảo Sumatra, Borneo và Java ở Indonesia có lẽ là thuộc về loài khác.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/caThanhNgoc.jpg" alt="">
                </div>
                <div class="phan4">
                    <h3 id="phan-4">Cá Tỳ Bà</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá Tỳ Bà (còn gọi là cá lau kiếng, cá tỳ bá, cá dọn bể) là loại cá cảnh đẹp, cá nuôi kiểng không cần oxy được nhiều người chơi cá cảnh chọn nuôi,
                        chúng sẽ làm vệ sinh cho bể cá cảnh một cách tự nhiên giúp tránh các bệnh thường gặp ở cá cảnh, tiết kiệm thời gian và công sức người chơi.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-ty-ba-beo.jpg" alt="">
                </div>
                <div class="phan5">
                    <h3 id="phan-5">Cá Chuột Mỹ</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá Chuột Mỹ có tên khoa học là Chromobotia macracanthus, hay còn có tên khác là cá heo hề, cá chuột ba sọc, là một loài cá nước ngọt nhiệt đới thuộc về họ Botiidae.
                        Chúng là loài duy nhất trong chi đơn loài Chromobotia. Tuy được gọi là cá Chuột “Mỹ” nhưng loài này có nguồn gốc từ các vùng nước nội địa Indonesia ở Sumatra và Borneo.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá này sống hòa bình, có thể nuôi cùng với tất cả các loại cá cảnh khác và là một trong những dòng cá cảnh có thể nuôi chung trong bể thủy sinh.
                        Việc ngắm cá Chuột Mỹ ăn cũng rất thú vị đối với những người có thú vui với cá cảnh. Có một số loại cá chuột thường xuyên hoạt động vào ban đêm nhưng vẫn hoạt động vào ban ngày và né ánh sáng mạnh.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/Ca-chuot-my.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Với những người đam mê thủy sinh, cá Chuột Mỹ thực sự là một dòng cá hữu ích khi chúng có thể dọn sạch thức ăn tích tụ ở dưới nền bể, giúp bể thủy sinh trong và sạch hơn.
                    </p>
                </div>
                <div class="phan6">
                    <h3 id="phan-6">Cá Thiên Đường</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá Thiên Dường (cá đuôi cờ, lia thia ruộng) còn gọi là cá lia thia đồng, cá đuôi cờ có nhiều màu sắc đa dạng cùng với vây kỳ căng tròn, tạo nên vẻ đẹp cổ điển trong mọi thời đại.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-thien-duong.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá thiên đường ngoài tự nhiên sống trong các vùng trũng nước ở đồng ruộng vì vậy khi nuôi chúng trong bể cá cảnh bạn cũng cần chú ý tạo một môi trường thật giống ngoài tự nhiên cho chúng.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Bể nước nuôi cá lia thia đồng nên trồng nhiều cây thủy sinh và thực vật nổi như (súng, sen Nhật, bèo, …) vừa tạo chỗ trú ẩn và đẻ trứng cho cá vừa cung cấp hệ thống lọc nước sinh học tự nhiên cho bể nuôi cá của bạn.
                    </p>
                </div>
                <div class="phan7">
                    <h3 id="phan-7">Cá Đuôi Kiếm</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá đuôi kiếm là một loại cá cảnh đẹp với chiếc đuôi dài và thướt tha. Cá đuôi kiếm là loại cá cảnh với thân hình nhỏ và bầu bĩnh con trống là những con có kỳ trên lưng (vây lưng) dài rất đẹp.
                        Cá đuôi kiếm mái thì hầu như quanh năm suốt tháng bụng to tròn vì chúng mang thai và đẻ một cách liên tục.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/caDuoiKiem.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá đuôi kiếm không gây sự đánh nhau với các loại cá thủy sinh khác tuy nhiên những con cá đuôi kiếm đực thường hay đánh nhau để giành cá mái,
                        bạn có thể giải quyết bằng cách nuôi khoảng 4 con đực trong hồ thủy sinh rộng chung với khoảng trên 5 con cá mái là tốt nhất.
                    </p>
                </div>
                <div class="phan8">
                    <h3 id="phan-8">Cá Sặc Gấm</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá Sặc Gấm trong tự nhiên là loại cá kiểng đẹp, có nhiều ở các nước như Ấn Độ, Bangladesh. Cá chiều dài khoảng 4 – 6 cm, thân hình oval, trên thân có dãy điểm màu xếp thành từng đôi,
                        gồm các điểm xanh lam, lục, xiên. Vây lưng và vây hậu môn dài, vây đuôi dạng quạt, vây bụng có dạng sợi và kéo dài.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/caSac1.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Con đực thường được nhiều người thích hơn bởi có màu sắc đẹp, vây lưng nhọn, vây bụng màu đỏ. Vào mùa sinh sản con cá sặc đực có những đám màu xanh chàm ở cổ họng và bụng, vây bụng màu da cam.
                    </p>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá sặc khỏe, không cần nhiều ô xi thích hợp cho người mới nuôi. Chúng thường ngoi lên mặt nước để lấy oxi.
                    </p>
                </div>
                <div class="phan9">
                    <h3 id="phan-9">Cá Anh Đào</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá Anh Đào hay còn gọi là cá Diếc Anh Đào rất phổ biến trong những hồ thủy sinh. Đặc biệt là những hồ có nhiều cây với màu sắc rực rỡ khi thả cá anh đào sẽ tạo nên một tone màu ấm rất bắt mắt.
                        Đây là loại cá rất dễ nuôi và thích hợp cho những ai mới chơi thủy sinh.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-diec-anh-dao.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Do màu đỏ của dòng cá này khiến chúng rất nổi bật trong hồ thủy sinh, một điểm nhất rất đẹp, nên dòng cá cảnh này được rất nhiều người quan tâm và yêu thích.
                    </p>
                </div>
                <div class="phan10">
                    <h3 id="phan-10">Cá Phượng Hoàng</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Ngày nay cá phượng hoàng được nhân giống và nuôi dưỡng làm cá cảnh ở nhiều quốc gia trên khặp các châu lục.
                        Ở nước ta, cá phượng Hoàng rất được ưa chuộng và thường được nuôi làm cá cảnh đẹp hoặc thả trong các bể thủy sinh.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/caPhuongHoang.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá sống ở mọi tầng nước, cá không ưa sống tại nơi có dòng nước chảy mạnh và sống cùng vớ các loài cá hoạt động mạnh như cá chép , cá vàng . Cá Phượng hoàng nên thả trong bể thủy sinh sẽ phù hợp nhất.
                    </p>
                </div>
                <div class="phan11">
                    <h3 id="phan-11">Cá Ali</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá Ali là dòng cá cảnh đẹp có màu sắc sặc sỡ, được nhiều người chơi cá cảnh yêu thích. Dòng cá này có kích thước nhỏ, màu sắc đẹp và rất dễ nuôi.
                        Cá Ali có rất nhiều loài và rất nhiều kiểu màu sắc: màu trắng, màu đỏ, xanh dương pha đen, vàng pha đen, vằn hổ, trắng – vàng – vằn đen, đen chấm trắng…
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-ali-demasoni.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">Một dòng cá được rất nhiều người chơi cá Ali tại Việt Nam ưa thích đó chính là cá Ali đầu bò, một loài cá cảnh với nhiều đặc tính rất hay.</p>
                </div>
                <div class="phan12">
                    <h3 id="phan-12">Cá Thần Tiên</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá Thần Tiên còn được gọi là Cá Thiên Thần. Là loại cá cảnh đẹp với rất nhiều loài và màu sắc cũng như dình dạng khác nhau.
                        Đây là một dòng cá cảnh đẹp được rất nhiều người chơi thủy sinh và cá cảnh tại Việt Nam yêu thích.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/r_img2.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá Thần Tiên thường khá nhút nhát, loài cá cảnh này là một trong các loài các cá thiên thần làm cá cảnh đẹp, có tính cách hiền lành.
                        Nuôi chúng trong bể có kích thước 180 gallon (681 lít) trở lên với nhiều nơi ẩn náu, đá sống và không gian bơi lội. Dòng cá này có sức khỏe rất tốt và ít gặp các dòng bệnh thường gặp.
                    </p>
                </div>
                <div class="phan13">
                    <h3 id="phan-13">Cá Trâm</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá Trâm có tên khoa học là Boraras urophthalmoides thuộc họ Cyprinidae của chi Boraras. Chúng phân bố chủ yếu tại miền nam Thái Lan và các nước Đông Nam Á như Việt Nam và Campuchia.
                        Chúng sống chủ yếu tại các đầm lầy, ao hồ có thảm thực vật thủy sinh. Và chúng là loại cá bơi theo đàn tuyệt đẹp.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-Tram.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá trâm có một sọc xanh sẫm màu ở giữa thân. Ở phía dưới đuôi cũng có một chấm xanh sẫm màu. Vây lưng có một vết đen ở gốc. Phía dưới miệng gần mang có màu hơi đỏ.
                    </p>
                </div>
                <div class="phan14">
                    <h3 id="phan-14">Cá Tam Giác</h3>
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Cá tam giác là một trong những loài cá cảnh thủy sinh phổ biến và được nhiều anh em chọn nuôi. Tên tiếng Anh là Harlequin Fish và tên Khoa học là Trigonostigma heteromorpha.
                        Hiện nay, loài cá này thường các loại như cá tam giác xanh, cá tam giác vàng, cá tam giác đỏ, cá tam giác tím.
                    </p>
                    <img style="width:650px; height:450px; margin-left: 17%;" src="~/img/ca-tam-giac.jpg" alt="">
                    <p style="text-indent: 30px; margin: 7px; text-align: justify;">
                        Khi trưởng thành, cá tam giác có thể đạt được kích thước từ 3,5 đến 4cm. Chúng sống theo đàn, do đó, bạn nên nuôi một đàn cá tam giác, khoảng 8 đến 10 con.
                        Chúng cũng dễ thích nghi, sống hòa hợp với một số loài cá khác nên có thể nuôi chung với nhau trong hồ thủy sinh.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>