@model IEnumerable<TNLFish.Models.loai_ca>

<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                @foreach (var item in Model)
                {
                    <div class="vendor-item border p-4" style="height:300px;">
                        <a href="@Url.Action("Detail", "Buy", new { id = item.id })/#details">
                            <img style="height: 190px;" src="~/img/@Html.DisplayFor(modelItem => item.Image)" alt="" />
                        </a>
                        <p style="text-align:center; color:forestgreen;">
                            @Html.DisplayFor(modelItem => item.fish_name)
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
